.a{
    background-color: #9d9f99;
}
.mid{
    background-color: #a6ad85;
    box-shadow: grey;
}
.end{
    background-color: #aaaaaa;
}
.founder:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.WS:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Atul:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.jain:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Reddy:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Paritosh:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Jpendra:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.S:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Bala:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Accel:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AcIndia:hover{
    background-color: #e2ddd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tot:hover{
    background-color: #aaff88;
}